@charset "UTF-8";

.react-autosuggest__container {
  position: relative;
  margin: 5px 0px;
}

.react-autosuggest__input {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
  max-height: 400px;
  overflow-y: auto;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  top: 32px;
  width: 100%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  font-weight: 300;
  white-space: nowrap;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  height: 40px;
  padding: 10px;
}

.react-autosuggest__suggestion--focused {
  background-color: #00d1b2;
}